<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Nerdsss</title>
</head>
<body>
    <div class="form">
        <h1>Bucket List of Nerds</h1>

        <form action="/do" method="post">
            <input type="text" name="todo" placeholder="What do you want to do?" required>
            <button type="submit"><img src="/static/plus.png" alt="" srcset=""></button>
            
        </form>  
    </div>
    <div class="todos">
        {% for item in final%}
           <div class="cont">
                {% if item.done == False %}
                <p> {{ item.job }}</p>
                <a href="status/{{ item.id }}">Accompolished?</a>
                <a href="del/{{ item.id }}">Delete?</a>
                {% endif %}           
           </div>
           {% if item.done == False %}
           <div class="space"></div>
           {% endif %}  

        {% endfor %}
    </div>
    <div class="completed">
        <h3>Passed Missions</h3>
        {% for item in final%}
            {% if item.done == True %}
            <p> {{ item.job }}  </p>
            <a href="del/{{ item.id }}">Delete?</a>
            {% endif %}
            
        {% endfor %}
    </div>
 

</body>
</html>